In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
data = [[-1,2],[-0.5,6],[0,10],[1,18]]
pd.DataFrame(data)

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18

### 数据归一化

In [2]:
#实现归一化
scaler = MinMaxScaler()
scaler = scaler.fit(data)
result = scaler.transform(data) #到处归一化后的结果
result

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [3]:
result1 = scaler.fit_transform(data)
result1

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [4]:
scaler.inverse_transform(result) #返回没有归一化的原始数据

array([[-1. ,  2. ],
       [-0.5,  6. ],
       [ 0. , 10. ],
       [ 1. , 18. ]])

In [5]:
scaler = MinMaxScaler(feature_range=(5,10))
scaler.fit_transform(data)

array([[ 5.  ,  5.  ],
       [ 6.25,  6.25],
       [ 7.5 ,  7.5 ],
       [10.  , 10.  ]])

In [8]:
import numpy as np
X  = np.array(data)
X

array([[ 5.  ,  5.  ],
       [ 6.25,  6.25],
       [ 7.5 ,  7.5 ],
       [10.  , 10.  ]])

In [11]:
X.min(axis=0)

array([5., 5.])

### 数据标准化

In [13]:
from sklearn.preprocessing import StandardScaler
standsc =  StandardScaler()
standsc = standsc.fit(data) #fit 的本质是求均值和方差

StandardScaler(copy=True, with_mean=True, with_std=True)

In [15]:
standsc.mean_
standsc.var_  #方差

array([3.41796875, 3.41796875])

In [19]:
std = standsc.fit_transform(data)
std

array([[-1.18321596, -1.18321596],
       [-0.50709255, -0.50709255],
       [ 0.16903085,  0.16903085],
       [ 1.52127766,  1.52127766]])

In [21]:
standsc.inverse_transform(std)

array([[ 5.  ,  5.  ],
       [ 6.25,  6.25],
       [ 7.5 ,  7.5 ],
       [10.  , 10.  ]])

### 缺失值

In [30]:
import pandas as pd
test_data = pd.read_csv(r'C:\Users\lou\Desktop\枫枫的小仙女\菜菜sklearn课件\03数据预处理和特征工程\Narrativedata.csv',index_col=0)
#index_col 指定第一列为index

test_data.head()

    Age     Sex Embarked Survived
0  22.0    male        S       No
1  38.0  female        C      Yes
2  26.0  female        S      Yes
3  35.0  female        S      Yes
4  35.0    male        S       No

In [31]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         714 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [47]:
Age = test_data.loc[:,'Age'].values.reshape(-1,1)

In [44]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer() #默认均值填补
imp_median = SimpleImputer(strategy='median')
imp_0 = SimpleImputer(strategy='constant',fill_value=0)

In [48]:
imp_mean = imp_mean.fit_transform(Age)
imp_median = imp_median.fit_transform(Age)
imp_0 = imp_0.fit_transform(Age)

In [50]:
imp_mean[:10]

array([[22.        ],
       [38.        ],
       [26.        ],
       [35.        ],
       [35.        ],
       [29.69911765],
       [54.        ],
       [ 2.        ],
       [27.        ],
       [14.        ]])

In [52]:
imp_median[:10]

array([[22.],
       [38.],
       [26.],
       [35.],
       [35.],
       [28.],
       [54.],
       [ 2.],
       [27.],
       [14.]])

In [53]:
imp_0[:10]

array([[22.],
       [38.],
       [26.],
       [35.],
       [35.],
       [ 0.],
       [54.],
       [ 2.],
       [27.],
       [14.]])

In [55]:
imp_0.shape

(891, 1)

In [56]:
test_data.loc[:,'Age'] = imp_median

In [61]:
Embarked = test_data.loc[:,'Embarked'].values.reshape(-1,1)
imp_mode =  SimpleImputer(strategy='most_frequent')
test_data.loc[:,'Embarked'] = imp_mode.fit_transform(Embarked)

In [62]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         891 non-null float64
Sex         891 non-null object
Embarked    891 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

### 处理分类型特征：编码与哑变量

In [70]:
from sklearn.preprocessing import LabelEncoder
# LabelEncoder: 标签专用，能够将分类转换为分类数值
y = test_data.iloc[:,-1]
le = LabelEncoder()
le = le.fit(y)
label = le.transform(y)
test_data.iloc[:,-1] = label

In [77]:
from sklearn.preprocessing import OrdinalEncoder 
#OrdinalEncoder 特征专用，能够将分类特征转换为分类数值
data_ = test_data.copy()
OrdinalEncoder().fit(data_.iloc[:,1:-1]).categories_
data_.iloc[:,1:-1] = OrdinalEncoder().fit_transform(data_.iloc[:,1:-1])
data_.head()

    Age  Sex  Embarked  Survived
0  22.0  1.0       2.0         0
1  38.0  0.0       0.0         2
2  26.0  0.0       2.0         2
3  35.0  0.0       2.0         2
4  35.0  1.0       2.0         0

In [84]:
from sklearn.preprocessing import OneHotEncoder
X = test_data.iloc[:,1:-1]

enc = OneHotEncoder(categories='auto').fit(X)
result = enc.transform(X).toarray()
result  #哑变量

#OneHotEncoder(categories='auto').fit_transform(X).toarray() 一步到位

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])

###  特征选择

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\lou\Desktop\枫枫的小仙女\菜菜sklearn课件\03数据预处理和特征工程\digit recognizor.csv')
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x = data.iloc[:,1:]
y = data.iloc[:,0]

####  1.方差过滤法

In [4]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold() #默认方差为0
X_var0 = selector.fit_transform(x)
X_var0.shape

(42000, 708)

In [96]:
#将方差设置为中位数
med = np.median(x.var().values)
x_med = VarianceThreshold(threshold=med).fit_transform(x)
x_med.shape

(42000, 392)

In [97]:
#二分类特征中某中分类占到80%以上的特征 删除特征
x_bvar = VarianceThreshold(0.8*(1-0.8)).fit_transform(x)
x_bvar.shape

(42000, 685)

#### KNN 和随机森林在不同方差过滤效果下的对比

In [8]:
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.model_selection import cross_val_score
import numpy as np

#过滤前
x = data.iloc[:,1:]
y = data.iloc[:,0]

#过滤后
x_fsvar = VarianceThreshold(np.median(x.var().values)).fit_transform(x)

##### KNN 比较

In [ ]:
%%timeit
cross_val_score(KNN(),x,y,cv=5).mean() #未过滤之前使用KNN算法的准确率

In [ ]:
# 方差过滤后使用KNN后准确率
%%timeit
cross_val_score(KNN(),x_fsvar,y,cv=5).mean()

#####  随机森林比较

In [6]:
%%timeit
cross_val_score(RFC(n_estimators=10,random_state=0),x,y,cv=5).mean()

11.7 s ± 951 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
cross_val_score(RFC(n_estimators=10,random_state=0),x_fsvar,y,cv=5).mean()

### 2.卡方过滤

In [7]:
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [11]:
x_fschi = SelectKBest(chi2,k=300).fit_transform(x_fsvar,y)
x_fschi.shape

(42000, 300)

In [13]:
cross_val_score(RFC(n_estimators=10,random_state=0),x_fschi,y,cv=5).mean()

0.9333098667649198

In [14]:
chivalue,pvalue = chi2(x_fsvar,y) #返回卡方检验的卡方值和p值

In [15]:
chivalue

array([ 945664.84392643, 1244766.05139164, 1554872.30384525,
       1834161.78305343, 1903618.94085294, 1845226.62427198,
       1602117.23307537,  708535.17489837,  974050.20513718,
       1188092.19961931, 1319151.43467036, 1397847.8836796 ,
       1433554.26798015, 1429043.15373433, 1332663.17213405,
       1101423.25372261,  809989.56940485,  519266.71772284,
        285681.88297156,  191589.23696468,  902883.1255264 ,
       1237265.16042373, 1503477.73699155, 1625807.41495542,
       1630206.90922916, 1630597.02883804, 1633456.72909664,
       1610816.75571229, 1483382.49543886, 1256290.1574794 ,
        951236.1617682 ,  693192.66191748,  532386.96220361,
        504617.38933715,  575090.36046243,  501025.03733245,
        802341.10683194, 1078344.8724406 , 1226540.98318702,
       1269945.07968831, 1221758.57688808, 1146535.17810241,
       1080657.20185303, 1079065.30979135, 1092222.70610032,
       1064908.45385716, 1023327.00231067,  974163.15420165,
        918857.12860617,  861439.52030749,  828439.23565047,
        916454.89464771,  989713.58229958,  543695.5016699 ,
        674691.76755044,  708113.57226969,  657819.3908855 ,
        599159.21961671,  576483.60795847,  559848.1818137 ,
        536985.56062372,  561457.57734769,  594428.19185935,
        592414.89830452,  587801.84097643,  672232.60135169,
        790511.70530618,  866573.70991777,  891422.58050934,
        905163.15191882, 1006322.94034634,  585209.83598254,
        699596.88963547,  705326.82387203,  641105.0929774 ,
        632098.97938142,  725189.43548604,  853879.48154986,
        863895.50862873,  709440.99808713,  615099.361498  ,
        660082.35138802,  662040.13166049,  647432.43321103,
        718070.06251003,  868119.93550552,  995128.78948214,
        981295.46383871,  888906.74357254,  803951.63399892,
        775220.92445238,  802661.20360682,  806753.10120013,
        827660.8911231 , 1008184.76195542, 1212658.65697336,
       1279652.35847441, 1071947.51866571,  712579.55021262,
        708178.91784269,  931871.22430817,  836155.03350401,
        781584.17446604,  883252.58134165, 1015304.18853993,
       1153480.28062008, 1235182.10720641, 1110286.29490637,
        762412.0228271 ,  651475.7374445 ,  659784.45490334,
        761439.40964843,  980458.35707785, 1285689.5977369 ,
       1412800.83270279, 1269424.03486304,  844394.53343881,
        453037.70035635,  906205.5333485 , 1314337.38985735,
        875502.64893107,  848574.25317153, 1088364.70535319,
       1143964.61799576, 1231934.57606489, 1525266.11466634,
       1624923.27849511, 1120921.66905394,  381196.04594987,
        517011.13080559,  840830.08443577, 1249668.53527256,
       1487299.06201808, 1440993.69232521, 1234157.54433962,
        891091.32709079,  767327.74644144, 1767505.95851489,
       1794612.36340341,  843649.64862696,  974860.15688277,
       1282142.9789604 , 1121437.99502364, 1158258.4373389 ,
       1803319.16430163, 2247538.01212782, 1715860.1009172 ,
        308268.96279553,  670765.24199637, 1175840.18589306,
       1569563.41213805, 1615071.70298461, 1453812.39367812,
       1429193.59276003, 1469624.15320088, 1610038.8334007 ,
       2381990.83018419, 1684641.44646863,  781514.82471784,
       1136274.26981954, 1258505.95202954,  900621.20914746,
       1033026.39393914, 2032592.30559197, 2688297.40292302,
       2126052.31008566,  477854.94097719, 1061876.2951535 ,
       1617721.02614334, 1859303.87013649, 1706658.49975169,
       1442798.15960511, 1497467.99791583, 1635633.52918659,
       1789954.0440811 , 2042036.97897042, 1243975.13567915,
        847897.40531407, 1334491.44036763, 1146547.23628072,
        721408.29456933, 1099901.34212844, 2234797.26301007,
       2788060.61506624, 2097404.45292914,  770825.17396301,
       1509971.18325275, 2008828.59327289, 2076128.28182046,
       1775258.41727455, 1374882.05100453, 1223860.78474695,
       1190499.55493678, 1469994.89713294, 1556218.16894472,
        936604.6211571 , 1052799.96220046, 1487484.96092392,
       1096221.91497984,  754081.7574313 , 1308952.47883141,
       2269151.28497174, 2519422.4441161 , 1816912.55593098,
       1090497.85622876, 1822356.78804369, 2192372.5304657 ,
       2133745.04961112, 1807649.67676254, 1420349.92183107,
       1222343.35267926, 1165504.99607627, 1500572.78318498,
       1432663.59271325,  890862.82928644, 1274280.76943075,
       1432072.36165076,  956997.59590817,  888742.14373383,
       1508163.46238821, 2117988.12236915, 2054465.38907916,
       1423918.25987689, 1286013.85962749, 1972608.25057539,
       2179634.12755044, 1979740.23184782, 1717723.16781811,
       1552275.10457858, 1461315.1411536 , 1494620.94971976,
       1739520.65681857, 1442815.46046628, 1014723.34171191,
       1363794.15539944, 1122747.63831017,  739634.35332833,
       1067567.31929299, 1667592.5097389 , 1864455.97854722,
       1579099.16973703,  967688.45447601, 1416605.83453248,
       2062165.61891584, 2170645.77302745, 1901786.79198259,
       1733725.85760386, 1753508.37671084, 1712712.42549789,
       1733493.582237  , 1770340.59820148, 1310901.04423274,
       1008023.90988477, 1061378.72275934,  662457.8217003 ,
        729648.40292041, 1370253.32454603, 1741943.51510473,
       1593454.39731162, 1172442.70958932,  671601.50140396,
        511587.36577997, 1454955.01309647, 2126817.74478926,
       2263953.8025206 , 2028172.33782053, 1992515.52928071,
       2172520.74824953, 2035403.53821729, 1758624.07224114,
       1514817.58748747, 1002116.10560135,  669379.60246184,
        544978.32282227,  576722.03477821, 1098371.32650041,
       1603057.05343338, 1612844.96289426, 1293107.69776289,
        917550.19379029,  683222.7639966 ,  608782.99701169,
       1391473.37940334, 2082151.30610954, 2298916.31712188,
       2140360.89085296, 2070900.53848134, 2159471.16950063,
       1981772.43302263, 1521754.51234479, 1076334.48566226,
        610262.09016783,  351852.98340462,  461487.7601437 ,
        878540.35993713, 1337597.14727232, 1481891.62067955,
       1342562.57238699, 1127940.79389167,  958491.4694589 ,
        884951.02023249,  671520.41386273, 1232265.31295026,
       1877169.85821324, 2239501.99047448, 2199634.11766741,
       1930471.52367226, 1666073.70450191, 1364054.30645472,
       1000936.25390226,  656080.48075838,  389810.08772878,
        340150.21186292,  602275.43941511,  959623.37641551,
       1156974.48558905, 1135816.98677808, 1044294.97185606,
        992281.03054232,  964376.78121192,  966024.75721634,
       1491250.50567589, 1970679.86657318, 2139321.52912066,
       1894361.40873889, 1368494.5514217 ,  829396.07488768,
        488455.25931088,  331978.08818759,  293365.6522867 ,
        387474.16211622,  600489.80555106,  783767.50733716,
        831013.99296771,  768407.80393857,  738760.56078587,
        761413.22072658,  781528.79224194,  615612.72460389,
        975765.83585216, 1382346.6477236 , 1684701.13053512,
       1732335.2436048 , 1492804.58962318, 1144230.23099215,
        852589.97157847,  719215.03719448,  675891.53891187,
        687917.5152402 ,  708292.70911948,  673810.32849758,
        550803.45299243,  428370.7943997 ,  384587.47807058,
        407022.00975206,  441201.32284902,  661202.45504685,
        904150.80474087, 1098249.34334037, 1225055.2730661 ,
       1312843.88397644, 1325774.40817926, 1236093.76813092,
       1036608.01098297,  829620.55626671,  654964.88596563,
        520032.72156302,  387948.22204601,  273436.39846809,
        203015.85080751,  255471.93956392,  389884.80778864,
        561308.92316732,  759511.94695328,  942402.80700557,
       1044698.95132913, 1009807.32615993,  844407.23356341,
        695110.21243546,  637789.62877943,  600582.89899187,
        519392.9652949 ,  399631.65341907, 1006027.89058975,
       1352052.90333271, 1647606.90721159, 1761733.4081397 ,
       1664096.76785043, 1396834.58681766, 1159784.3628775 ,
       1001178.01359166,  847886.28143964])

In [16]:
pvalue

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.])

In [20]:
k = chivalue.shape[0] - (pvalue>0.05).sum() #所有保留的特征的数量
k

# x_fschi = SelectKBest(chi2,k=k).fit_transform(x_fsvar,y)
# cross_val_score(RFC(n_estimators=10,random_state=0),x_fschi,y,cv=5).mean()

392

### 3.F检验过滤